{% extends "base.html" %}
{% block title %}Таблица с ссылками{%endblock %}
{% block content %}
<h1 class="text-center">База данных с ссылками</h1>
<hr>
<div class="table-responsive">
  <table class="table table-striped align-middle">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">protocol</th>
        <th scope="col">domain</th>
        <th scope="col">domain zone</th>
        <th scope="col">path</th>
        <th scope="col">parameters</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      {% for url in links %}
      <tr>
        <td>{{ url.id }}</td>
        <td>{{ url.protocol }}</td>
        <td>{{ url.domain }}</td>
        <td>{{ url.domain_zone }}</td>
        <td>{{ url.path }}</td>
        <td>{% if url.parameters %}{{ url.parameters }}{% else %} - {% endif %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}